<link href="../../../AngularJs/source/media/library.css" rel="stylesheet" />
<br />
<form id="posts-filter" action="" method="get">

    <input type="hidden" id="_wpnonce" name="_wpnonce" value="64bfd16e26"><input type="hidden" name="_wp_http_referer" value="/wordpress/wp-admin/upload.php">
    <div class="tablenav top">

        <div class="alignleft actions bulkactions">
            <select name="action">
                <option value="-1" selected="selected">Bulk Actions</option>
                <option value="delete">Delete Permanently</option>
            </select>
            <input type="submit" name="" id="doaction" class="button action" value="Apply">
        </div>

        <div class="alignleft actions">
            <select name="m">
                <option selected="selected" value="0">All dates</option>
                <option value="201405">May 2014</option>
            </select>
            <input type="submit" name="" id="post-query-submit" class="button" value="Filter">
        </div>

        <div class="alignleft actions">
            <select name="ddltake" id="ddltake" class="" ng-model="take" ng-change="takeChange()">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>

        <div class="alignleft actions">
            <p class="search-box">
                <input type="search" id="Search1" name="s" ng-model="searchtext" placeholder="Ange sökord" ng-change="searchChange()">
            </p>
        </div>

        <div class="tablenav-pages">
            <span class="displaying-num">{{ items.TotalItems }} items</span>
            <span class="pagination-links"><a class="first-page" title="Go to the first page" ng-click="pageChange(page = firstSizePage)" ng-disabled="page <= 1">«</a>
                <a class="prev-page" title="Go to the previous page" ng-click="pageChange(page = page-1)" ng-disabled="page <= 1">‹</a>
                <span class="paging-input">
                    <input class="current-page" title="Current page" type="text" name="paged" ng-change="pageChange()" ng-model="page" size="1">
                    of <span class="total-pages">{{ items.TotalPages }}</span></span>
                <a class="next-page" title="Go to the next page" ng-click="pageChange(page = page+1)" ng-disabled="page >= lastSizePage || items.Data.length == null">›</a>
                <a class="last-page" title="Go to the last page" ng-click="pageChange(page = lastSizePage)" ng-disabled="page >= lastSizePage || items.Data.length == null">»</a></span>
        </div>

        <br class="clear">
    </div>

    <table class="wp-list-table widefat fixed media">

        <thead>
            <tr>
                <th scope="col" id="cb" class="manage-column column-cb check-column" style="">
                    <label class="screen-reader-text" for="cb-select-all-1">Select All</label><input id="cb-select-all-1" type="checkbox"></th>
                <th scope="col" id="icon" class="manage-column column-icon" style=""></th>
                <th scope="col" id="title" class="manage-column column-title sortable desc" style=""><a ng-click="sortByFie()"><span>File</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="author" class="manage-column column-author sortable desc" style=""><a ng-click="sortByAuthor()"><span>Author</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="parent" class="manage-column column-parent sortable desc" style=""><a ng-click="sortByCategory()"><span>Category</span><span class="sorting-indicator"></span></a></th>
                <th></th>
                <th scope="col" id="date" class="manage-column column-date sortable asc" style=""><a ng-click="sortByCreated()"><span>Date</span><span class="sorting-indicator"></span></a></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th scope="col" id="Th1" class="manage-column column-cb check-column" style="">
                    <label class="screen-reader-text" for="cb-select-all-1">Select All</label><input id="Checkbox1" type="checkbox"></th>
                <th scope="col" id="Th2" class="manage-column column-icon" style=""></th>
                <th scope="col" id="Th3" class="manage-column column-title sortable desc" style=""><a ng-click="sortByFie()"><span>File</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="Th4" class="manage-column column-author sortable desc" style=""><a ng-click="sortByAuthor()"><span>Author</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="Th5" class="manage-column column-parent sortable desc" style=""><a ng-click="sortByCategory()"><span>Category</span><span class="sorting-indicator"></span></a></th>
                <th></th>
                <th scope="col" id="Th6" class="manage-column column-date sortable asc" style=""><a ng-click="sortByCreated()"><span>Date</span><span class="sorting-indicator"></span></a></th>
            </tr>
        </tfoot>

        <tbody id="the-list">
            <tr ng-repeat="media in items.Data" class="alternate author-self status-inherit">
                <th scope="row" class="check-column">
                    <label class="screen-reader-text" for="cb-select-6">Select mini</label>
                    <input type="checkbox" name="selected" ng-click="addToSelectMedia(media.Id)" id="cb-select-6" value="6">
                </th>
                <td class="column-icon media-icon"><a href="#" title="Edit {{media.File}}">
                    <img width="60" height="60" src="../../images/blog/{{media.File}}" class="attachment-80x60" alt="{{media.File}}">
                </a>
                </td>
                <td class="title column-title">
                    <div>
                        {{media.Title}}
                    </div>
                    <strong>
                        <a href="#" title="Edit {{media.File}}">{{media.File}}</a>
                    </strong>
                    <p>
                        {{media.mediaType}}		
                    </p>
                    <div class="row-actions"><span class="edit"><a href="#">Edit</a> | </span><span class="delete"><a class="submitdelete" onclick="return showNotice.warn();" href="#">Delete Permanently</a> | </span><span class="view"><a href="#" title="View {{media.File}}" rel="permalink">View</a></span></div>
                </td>
                <td class="author column-author"><a href="">{{media.Author}}</a></td>
                <td class="parent column-parent">({{media.MediaCategory.Title}})<br>
                    <a ng-show="media.MediaCategory.Id == 1" href="" ng-click="onClickAttach(media.Id)">Attach</a>
                </td>
                <td></td>
                <td class="date column-date">{{ media.Created }}</td>
            </tr>
        </tbody>

    </table>
    <div class="tablenav bottom">

        <div class="alignleft actions bulkactions">
            <select name="action2">
                <option value="-1" selected="selected">Bulk Actions</option>
                <option value="delete">Delete Permanently</option>
            </select>
            <input type="submit" name="" id="doaction2" class="button action" value="Apply">
        </div>
        <div class="alignleft actions">
        </div>
        <div class="tablenav-pages">
            <span class="displaying-num">{{ items.TotalItems }} items</span>
            <span class="pagination-links"><a class="first-page" title="Go to the first page" ng-click="pageChange(page = firstSizePage)" ng-disabled="page <= 1">«</a>
                <a class="prev-page" title="Go to the previous page" ng-click="pageChange(page = page-1)" ng-disabled="page <= 1">‹</a>
                <span class="paging-input">
                    <input class="current-page" title="Current page" type="text" name="paged" ng-change="pageChange()" ng-model="page" size="1">
                    of <span class="total-pages">{{ items.TotalPages }}</span></span>
                <a class="next-page" title="Go to the next page" ng-click="pageChange(page = page+1)" ng-disabled="page >= lastSizePage || items.Data.length == null">›</a>
                <a class="last-page" title="Go to the last page" ng-click="pageChange(page = lastSizePage)" ng-disabled="page >= lastSizePage || items.Data.length == null">»</a></span>
        </div>
    </div>

</form>
