
<table class="table table-bordered datatable" id="table-4">
    <thead>
        <tr>
            <th style="text-align: center;">
                <input id="cb-select-all-1" type="checkbox" ng-model="selectAllMedia" ng-click="onClickSelectAll(selectAllMedia)">
            </th>
            <th>File</th>
            <th>Description</th>
            <th>Author</th>
            <th>Category</th>
            <th>Date</th>
            <th>Redigera</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="media in items.Data" class="odd gradeA">
            <td style="text-align: center;">
                <input type="checkbox" name="selected" ng-model="media.isSelected" ng-click="addToSelectMedia(media.Id)" id="cb-select-6" value="6">
                <a href="" title="View {{media.File}}" ng-click="onClickView(media)">
                    <img width="60" height="60" src="../../images/blog/thumbs/{{media.File}}" class="attachment-80x60" alt="{{media.File}}">
                </a>
            </td>
            <td>
                <div>
                    {{media.Title}}
                </div>
                <strong>
                    <a href="" ng-click="onClickView(media)" title="View {{media.File}}">{{media.File}}</a>
                </strong>
                <p>
                    {{media.mediaType}}
                </p>
            </td>
            <td style="width: 40%;">
                {{media.Description}}
            </td>
            <td>
                {{media.Author}}
            </td>
            <td style="text-align: center;">
                ({{media.MediaCategory.Title}})<br><br>
                <a href="" ng-show="media.MediaCategory.Id == 1" href="" ng-click="onClickAttach(media.Id)" class=" btn btn-primary btn-sm btn-icon icon-left">
                    <i class="entypo-archive"></i>
                    Tilldela kategori
                </a>
                <a href="" ng-show="media.MediaCategory.Id != 1" href="" ng-click="onClickAttach(media.Id)" class=" btn btn-primary btn-sm btn-icon icon-left">
                    <i class="entypo-archive"></i>
                    Ändra kategori
                </a>
            </td>

            <td>
                {{media.Created}}
            </td>
            <td style="text-align: center;">
                <a href="" ng-click="onClickEdit(media.Id)" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Redigera
                </a>

                <a href="" ng-click="onClickDeleteMedia(media.Id)" class="btn btn-danger btn-sm btn-icon icon-left">
                    <i class="entypo-cancel"></i>
                    Radera
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                <label class="screen-reader-text" for="cb-select-all-1">Select All</label>
                <input id="cb-select-all-1" type="checkbox" ng-model="selectAllMedia" ng-click="onClickSelectAll(selectAllMedia)">
            </th>
            <th>File</th>
            <th>Description</th>
            <th>Author</th>
            <th>Category</th>
            <th>Date</th>
            <th>Redigera</th>
        </tr>
    </tfoot>
</table>