<style>
    .modal-content img {
        width: 100%;
    }  
</style>
<div class="modal-body">
    <article id="post-31" class="post-31 attachment type-attachment status-inherit hentry">
        <header class="entry-header">
            <h3 class="entry-title">{{ selectedMedia.File }}</h3>
            <div class="entry-meta">

                <span class="entry-date"><time class="entry-date" datetime="2014-05-04T13:48:17+00:00">{{ selectedMedia.Date }}</time></span>

                <span class="full-size-link"><a href="../../images/blog/{{ selectedMedia.File }}">Full size</a></span>

                <span class="parent-post-link"><a href="http://127.0.0.1/wordpress/?p=10" rel="gallery"></a></span>
                <span class="edit-link"><a class="post-edit-link" href="http://127.0.0.1/wordpress/wp-admin/post.php?post=31&amp;action=edit">Edit</a></span>
            </div>
            <!-- .entry-meta -->
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
            <div class="entry-attachment">
                <div class="attachment">
                    <a href="http://127.0.0.1/wordpress/?attachment_id=6" rel="attachment">
                        <img src="../../images/blog/{{ selectedMedia.File }}" class="attachment-810x810" alt="{{ selectedMedia.File }}"></a>
                </div>
                <!-- .attachment -->

            </div>
            <!-- .entry-attachment -->

        </div>
        <!-- .entry-content -->
    </article>
</div>


