<style>
    .modal-content img {
        width: 100%;
    }  
</style>
<div class="modal-body">
    <article id="post-31" class="post-31 attachment type-attachment status-inherit hentry">
        <header class="entry-header">
            <h3 class="entry-title">{{ media.File }}</h3>
            <div class="entry-meta">

                <span class="full-size-link"><a href="../../images/blog/{{ media.File }}">Full size</a></span>

                <span class="parent-post-link"><a href="http://127.0.0.1/wordpress/?p=10" rel="gallery"></a></span>

            </div>
            <!-- .entry-meta -->
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
            <div class="entry-attachment">
                <div class="attachment">
                    <a href="http://127.0.0.1/wordpress/?attachment_id=6" rel="attachment">
                        <img src="../../images/blog/{{ media.File }}" class="attachment-810x810" alt="{{ media.File }}"></a>
                </div>
                <!-- .attachment -->

            </div>
            <!-- .entry-attachment -->

        </div>
        <!-- .entry-content -->
    </article>
</div>


