@{
    ViewBag.Title = "Insatsplutonen | Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb bc-3">
    <li>
        <strong><a href="http://localhost:5428/manage/dashboard/"><i class="entypo-home"></i>Start</a></strong>
    </li>
</ol>


<div class="jumbotron">
    <h2>Välkommen!</h2>
    <p>
        <br />
        <div class="btn btn-primary btn-lg">Nuvarande Version: <strong>v0.1.0</strong></div>
    </p>
    </br>
    <h2>Changelog</h2>
    <br />
<pre>
# Jan 20, 2014 v 0.1.3
* [Added] Alla sidor är nu länkade till tomma HTML dokument.
* [Added] Menyval omstrukturerade
* [Added] MENY -> Applikationer
* [Added] Utseende för respektive sidor (ej länkade, se ../applikationer-hantera-utseende.html )
# Jan 17, 2014 v 0.1.2
* [Added] Hantera medlemmar
* [Added] Medlemmar -> Hantera -> Redigera medlemmar
* [Added] Skicka push
* [Added] Publicering -> Nyheter - Lägg till
* [Added] Menyval för Nyheter -> Ändra (ej funktionell)
* [Fix] Tog bort felaktiga sökbara kategorier under "Användare -> Hantera""
# Jan 16, 2014 v 0.1.1
* [Added] Publicering -> Evenemang -> Lägg till
* [Added] Demo content to "Lägg till"
* [Added] Loginscreen
* [Added] Logoutscreen
* [Added] LINK to Log Out button
* [Added] Menu - Medlemmar w/ submenus
* [Added] Functionality - Lägg till ny medlem
* [Added] Functionality - Hantera medlemmar
* [Added] Link to page - Skicka Push (ej funktioner).
* [Added] Link to page - Statistik
* [Added] Function - Statistik (demo material).
# Jan 15, 2014 v 0.1
* [Added] CMS Design Basics
* [Added] Phone Preview
* [Added] Menu setup
* [Added] Menu - Användare w/ submenus
* [Added] Functionality - Lägg till ny användare
* [Added] Functionality - Hantera användare
</pre>
</div>