@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<div ng-view="">
</div>


@section scripts{
    <script src="~/AngularJs/source/textAngular/textAngular-sanitize.js"></script>
    <script src="~/AngularJs/source/textAngular/textAngularSetup.js"></script>
    <script src="~/AngularJs/source/textAngular/textAngular.js"></script>

    <script src="~/AngularJs/app.js"></script>
    <script src="~/AngularJs/controllers/post/PostsController.js"></script>
    <script src="~/AngularJs/controllers/post/PostController.js"></script>
    <script src="~/AngularJs/controllers/post/PostEditController.js"></script>

    <script src="~/AngularJs/service/post/postService.js"></script>
}