<div id="content-wrapper">
    <div class="page-header text-align-center">
        <div class="one-fifth last">
            <input type="text" id="searchTxt" class="form-control" ng-model="searchtext" placeholder="Ange sökord" ng-change="searchChange()" />
        </div>

        <div class="one-fifth last">
            <label>Sortera:</label>
            <select name="sort_by" ng-model="sortby" ng-change="sortbyChange()" class="form-control">
                <option selected="selected" value="default">Default</option>
                <option value="title">Titel</option>
                <option value="date">Datum</option>
            </select>
        </div>

        <div class="one-fifth last">
            <label>Aktuell sida:</label>
            <select class="form-control" id="ddlPage" name="ddlPage" ng-change="pageChange()" ng-model="page" ng-options="page for page in items.Pagingarray"></select>
        </div>

        <div class="one-fifth last">
            <label>Per sida</label>
            <select name="ddltake" id="ddltake" class="form-control" ng-model="take" ng-change="takeChange()">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
    </div><!--END PAGE-HEADER-->
    <div class="one wp-pagenavi">
        <div class="one btn-group text-align-center">
            <span class="pages">Page {{ page }} of {{ items.TotalPages }}</span>
            <a href="" ng-click="pageChange(page = firstSizePage)" ng-disabled="page <= 1" class="button small white rounded">first</a>
            <a href="" ng-click="pageChange(page = page-1)" ng-disabled="page <= 1" class="button white small">&larr;</a>
            <a href="" ng-click="pageChange(page = page+1)" ng-disabled="page >= lastSizePage || items.Data.length == null" class="button white small">&rarr;</a>
            <a href="" ng-click="pageChange(page = lastSizePage)" ng-disabled="page >= lastSizePage || items.Data.length == null" class="button small white rounded">last</a>
        </div>
    </div>
    <div class="blog1 two-half content">

        <div ng-include="'../../../AngularJs/partials/post/postList.htm'"></div>
        

        <div class="one wp-pagenavi">
        <div class="one btn-group text-align-center">
            <span class="pages">Page {{ page }} of {{ items.TotalPages }}</span>
            <a href="" ng-click="pageChange(page = firstSizePage)" ng-disabled="page <= 1" class="button small white rounded">first</a>
            <a href="" ng-click="pageChange(page = page-1)" ng-disabled="page <= 1" class="button white small">&larr;</a>
            <a href="" ng-click="pageChange(page = page+1)" ng-disabled="page >= lastSizePage || items.Data.length == null" class="button white small">&rarr;</a>
            <a href="" ng-click="pageChange(page = lastSizePage)" ng-disabled="page >= lastSizePage || items.Data.length == null" class="button small white rounded">last</a>
        </div>
    </div><!--END WP-PAGENAVI-->

    </div><!--END CONTENT-->

</div><!--END CONTENT-WRAPPER-->
<!-- END BLOG -->
