@model dynamic

@{
    ViewBag.Title = "Insatsplutonen | Om oss";
    ViewBag.CurrentPage = "Om oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<div id="content-wrapper">

    <div class="content">

        <div class="section parallax-background color" id="about">

            <div class="holder text-align-center">
                <h2 class="uppercase">1:a Insatspluton, Norra Kalmar län, plutonen med alla möjliga bra personligheter</h2>
                <h3>Vår pluton är.....</h3><br>
            </div><!--END HOLDER-->
        </div><!--END SECTION-->


        <div class="section">

            <div class="one-third">
                <h3 class="title">1:a Insatspluton</h3>
                <p><strong>1:a Insatspluton utgår från Oskarshamn, men tar in medlemmar från Oskarshamns kommun, Högsbys kommun och Mönsterås kommun.</strong></p>
                <p>Kraven för att få gå med i denna plutonen är de samma som för alla andra hemvärnsförband. Vi satsar på kvalité framför kvantitet, att vara med hos oss är ingen allmän rättighet! Har du några frågor eller är intresserad av att ansöka om att gå med, klicka på 'Kontakt' eller fyll i en Intresseanmälan.</p>
            </div><!--END ONE-THIRD-->

            <div class="one-third">
                <h3 class="title">Uppgifter</h3>
                <p><strong>Vi tillhör Norra Insatskompaniet i Kalmar län och verkar över ytan. Vi är alltså inte låsta vid något objekt utan sätts in där vi bäst behövs.</strong></p>
                <ul class="list_1">
                    <li>Ta objekt eller knutpunkt.</li>
                    <li>Skydda objekt eller knutpunkt mot sabotage.</li>
                    <li>Försvara objekt eller knutpunkt mot sabotage.</li>
                    <li>Bevaka objekt eller knutpunkt mot sabotage.</li>
                    <li>Transportskydda materiel samt personaltransport.</li>
                    <li>Upprätta o-plats(er).</li>
                    <li>Genomföra rörlig spaning.</li>
                    <li>Genomföra eldöverfall.</li>
                    <li>Genomföra mineringar.</li>
                    <li>Stödja samhället.</li>
                </ul>
            </div><!--END ONE-THIRD-->

            <div class="one-third last">
                <h3 class="title">Organisation</h3>
                <span class="pic"><img src="~/Content/assets/start/organisation.png" height="282" alt="" /></span>
            </div><!--END ONE-THIRD-->


            <div class="divider-border"></div>
            <div class="clear"></div>

            <h3 class="title">Plutonen</h3><br>

            <div class="one-fourth team text-align-center">
                <div class="team-member-info">
                    <img src="http://placehold.it/350x350" class="radius-200" alt="" />
                    <h2 class="title"><b>Echo Alpha</b></h2>
                    <h3 class="uppercase"><b>Skyttegrupp</b></h3>
                    <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div><!--END TEAM-MEMBER-INFO-->
            </div><!--END ONE-THIRD-->

            <div class="one-fourth team text-align-center">
                <div class="team-member-info">
                    <img src="http://placehold.it/350x350" class="radius-200" alt="" />
                    <h2 class="title"><b>Foxtrot Alpha</b></h2>
                    <h3 class="uppercase"><b>Skyttegrupp</b></h3>
                    <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div><!--END TEAM-MEMBER-INFO-->
            </div><!--END ONE-THIRD-->
        
            <div class="one-fourth team text-align-center">
                <div class="team-member-info">
                    <img src="http://placehold.it/350x350" class="radius-200" alt="" />
                    <h2 class="title"><b>Golf Alpha</b></h2>
                    <h3 class="uppercase"><b>Skyttegrupp</b></h3>
                    <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div><!--END TEAM-MEMBER-INFO-->
            </div><!--END ONE-THIRD-->
            
            <div class="one-fourth team text-align-center last">
                <div class="team-member-info">
                    <img src="http://placehold.it/350x350" class="radius-200" alt="" />
                    <h2 class="title"><b>Hotel Alpha</b></h2>
                    <h3 class="uppercase"><b>Skyttegrupp</b></h3>
                    <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div><!--END TEAM-MEMBER-INFO-->
            </div><!--END ONE-THIRD LAST-->


            <div class="divider-border"></div>
            <div class="clear"></div>


            <div class="one text-align-center">
                <h3 class="title uppercase">Trött på det civila mörkret?</h3>
                <h4>Vi letar alltid efter fler plutonsmedlemmar, hör av dig redan idag.</h4>

                <div class="one-half button-group aligncenter">
                    <a href="/Home/Recruit" class="button grey"><span class="title">Ansök här</span><span class="subtitle">genom intresseanmälan</span></a>
                    <span class="or radius-200">eller</span>
                    <a href="/Home/Contact" class="button green"><span class="title">Kontakta oss</span><span class="subtitle">här genom forumläret</span></a>
                </div><!--END ONE-HALF BUTTON-GROUP-->
            </div><!--END ONE-->

        </div><!--END SECTION-->

    </div><!--END CONTENT-->

</div><!--END CONTENT-WRAPPER--> 