<style>
    .ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}
</style>
<div class="col-md-12 col-md-10">
    <input type="text" ng-model="item.Title" value="{{item.Title}}" class="form-control" />
    <div>{{item.Media}}</div>
    <div text-angular ng-model="item.Content" style="height: 100%"></div>
    <input type="text" ng-model="item.Author" value="{{item.Author}}" class="form-control" />
    <input type="text" ng-model="item.Created" value="{{item.Created}}" class="form-control" />
</div>
<div class="col-md-2">
    <table class="table">
        <tbody>
            <tr ng-repeat="img in item.MediaList">
                <td>
                    <strong>{{img.Title}}</strong>
                    <!-- Image preview -->
                    <img width="100%" src="../../images/blog/{{img.File}}" alt="{{img.Description}}"/>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<button type="button" ng-click="onClickUpdatePost(item)">Spara ändringar</button>

<h3>Lägg till nyheter</h3>
<br />


<div class="panel panel-primary" data-collapsed="0">

    <div class="panel-heading">
        <div class="panel-title">
            Lägg till nyhet
        </div>

    </div>

    <div class="panel-body">
        <form role="form" class="form-horizontal form-groups-bordered">

            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Rubrik</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="field-1" placeholder="Nyhetens rubrik">
                </div>

            </div>

            <div class="form-group">
                <label for="field-ta" class="col-sm-3 control-label">Text</label>

                <div class="col-md-8">
                    <textarea class="form-control wysihtml5" data-stylesheet-url="assets/css/wysihtml5-color.css" name="sample_wysiwyg" id="sample_wysiwyg" placeholder="Skriv en nyhet..."></textarea>
                </div>

            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Extern länk</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="field-1" placeholder="Extern länk till valfri sida">
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Publiceringsdatum</label>

                <div class="col-sm-3">

                    <div class="date-and-time">
                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
                        <input type="text" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="false" data-minute-step="5" data-second-step="5" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Slutdatum</label>

                <div class="col-sm-3">

                    <div class="date-and-time">
                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
                        <input type="text" class="form-control timepicker" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="false" data-minute-step="5" data-second-step="5" />
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label">Ladda upp bild</label>

                <div class="col-sm-5">

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 432px; height: 200px;" data-trigger="fileinput">
                            <img src="http://placehold.it/1080x500" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 432px; max-height: 200px"></div>
                        <div>
                            <span class="btn btn-info btn-file">

                                <span class="fileinput-new">Välj bild</span>
                                <span class="fileinput-exists">Ändra</span>
                                <input type="file" name="..." accept="image/*">
                            </span>
                            <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Ta bort</a>
                        </div>
                    </div>

                </div>
            </div>

        </form>





    </div>

</div>