
    <div class="section">

        <div class="one-fourth">
            <h3>Om oss</h3>
            <p>1:a Insatspluton utgår från Oskarshamn, men tar in medlemmar från Oskarshamns kommun, Högsbys kommun och Mönsterås kommun.</p>
            <p>1:a Insatspluton, Norra Kalmar län</p>
            <p>
                <strong>Email</strong>: info@Insatsplutonen.se<br />
                <strong>Adress</strong>: Oskarshamn<br />
            </p>
        </div><!--END ONE-FOURTH-->


        <div class="one-fourth">
            <h3>&nbsp;</h3>
            
        </div><!--END ONE-FOURTH-->


        <div class="one-fourth">
            <h3>&nbsp;</h3>
        </div><!--END ONE-FOURTH-->


        <div class="one-fourth last">
            <h3>Fotoflöde</h3>
            <div class="photostream flickr_list_footer"></div><!--END PHOTOSTREAM FLICKR_LIST-->
        </div><!--END ONE-FOURTH LAST-->

    </div><!--END SECTION-->
<div class="section" style="height:0px">
    <div class="one">
        <p class="copyright">Copyright © 2014 devHaris. All rights reserved.</p>
    </div>
</div>
    <div class="section alternate">

        <div class="holder">

        </div><!--END HOLDER-->

    </div><!--END SECTION-->
