<div class="header clear">

    <div id="logo">
        <a href="index.html"><img src="~/Content/assets/images/logo.png" alt="" /></a>
    </div><!--END LOGO-->

    <div id="primary-menu">

        <ul class="menu">
            <li>
                <a href="@Html.Action("Start", "Home")" title="Start">Start</a>
            </li>
            <li>
                <a href="@Html.Action("Posts", "Blog")" title="Nyheter">Nyheter</a>
            </li>
            <li>
                <a href="#" title="About">Om oss</a>
            </li>
            <li>
                <a href="#" title="Contact">Kontakta oss</a>
            </li>
        </ul><!--END UL-->

    </div><!--END PRIMARY MENU-->

</div><!--END HEADER-->