@model List<Insatsplutonen.Model.Media.Media>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>


<form id="posts-filter" action="" method="get">

    <p class="search-box">
            <label class="screen-reader-text" for="media-search-input">Search Media:</label>
        <input type="search" id="media-search-input" name="s" value="">
        <input type="submit" name="" id="search-submit" class="button" value="Search Media">
    </p>

    <input type="hidden" id="_wpnonce" name="_wpnonce" value="64bfd16e26"><input type="hidden" name="_wp_http_referer" value="/wordpress/wp-admin/upload.php">
    <div class="tablenav top">

        <div class="alignleft actions bulkactions">
            <select name="action">
                <option value="-1" selected="selected">Bulk Actions</option>
                <option value="delete">Delete Permanently</option>
            </select>
            <input type="submit" name="" id="doaction" class="button action" value="Apply">
        </div>
        <div class="alignleft actions">
            <select name="m">
                <option selected="selected" value="0">All dates</option>
                <option value="201405">May 2014</option>
            </select>
            <input type="submit" name="" id="post-query-submit" class="button" value="Filter">
        </div>
        <div class="tablenav-pages one-page">
            <span class="displaying-num">2 items</span>
            <span class="pagination-links"><a class="first-page disabled" title="Go to the first page" href="http://127.0.0.1/wordpress/wp-admin/upload.php">«</a>
                <a class="prev-page disabled" title="Go to the previous page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">‹</a>
                <span class="paging-input">
                    <input class="current-page" title="Current page" type="text" name="paged" value="1" size="1">
                    of <span class="total-pages">1</span></span>
                <a class="next-page disabled" title="Go to the next page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">›</a>
                <a class="last-page disabled" title="Go to the last page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">»</a></span>
        </div>
        <br class="clear">
    </div>
    <table class="wp-list-table widefat fixed media">
        <thead>
            <tr>
                <th scope="col" id="cb" class="manage-column column-cb check-column" style="">
                    <label class="screen-reader-text" for="cb-select-all-1">Select All</label><input id="cb-select-all-1" type="checkbox"></th>
                <th scope="col" id="icon" class="manage-column column-icon" style=""></th>
                <th scope="col" id="title" class="manage-column column-title sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=title&amp;order=asc"><span>File</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="author" class="manage-column column-author sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=author&amp;order=asc"><span>Author</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="parent" class="manage-column column-parent sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=parent&amp;order=asc"><span>Uploaded to</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="comments" class="manage-column column-comments num sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=comment_count&amp;order=asc"><span><span class="vers"><span title="Comments" class="comment-grey-bubble"></span></span></span><span class="sorting-indicator"></span></a></th>
                <th scope="col" id="date" class="manage-column column-date sortable asc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=date&amp;order=desc"><span>Date</span><span class="sorting-indicator"></span></a></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th scope="col" class="manage-column column-cb check-column" style="">
                    <label class="screen-reader-text" for="cb-select-all-2">Select All</label><input id="cb-select-all-2" type="checkbox"></th>
                <th scope="col" class="manage-column column-icon" style=""></th>
                <th scope="col" class="manage-column column-title sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=title&amp;order=asc"><span>File</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" class="manage-column column-author sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=author&amp;order=asc"><span>Author</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" class="manage-column column-parent sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=parent&amp;order=asc"><span>Uploaded to</span><span class="sorting-indicator"></span></a></th>
                <th scope="col" class="manage-column column-comments num sortable desc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=comment_count&amp;order=asc"><span><span class="vers"><span title="Comments" class="comment-grey-bubble"></span></span></span><span class="sorting-indicator"></span></a></th>
                <th scope="col" class="manage-column column-date sortable asc" style=""><a href="http://127.0.0.1/wordpress/wp-admin/upload.php?orderby=date&amp;order=desc"><span>Date</span><span class="sorting-indicator"></span></a></th>
            </tr>
        </tfoot>

        <tbody id="the-list">
            <tr id="post-6" class="alternate author-self status-inherit">
                <th scope="row" class="check-column">
                    <label class="screen-reader-text" for="cb-select-6">Select mini</label>
                    <input type="checkbox" name="media[]" id="cb-select-6" value="6">
                </th>
                <td class="column-icon media-icon"><a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=6&amp;action=edit" title="Edit “mini”">
                    <img width="60" height="60" src="http://127.0.0.1/wordpress/wp-content/uploads/2014/05/mini-150x150.png" class="attachment-80x60" alt="mini">
                </a>

                </td>
                <td class="title column-title"><strong>
                    <a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=6&amp;action=edit" title="Edit “mini”">mini</a>
                </strong>
                    <p>
                        PNG		
                    </p>
                    <div class="row-actions"><span class="edit"><a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=6&amp;action=edit">Edit</a> | </span><span class="delete"><a class="submitdelete" onclick="return showNotice.warn();" href="post.php?action=delete&amp;post=6&amp;_wpnonce=c34a190042">Delete Permanently</a> | </span><span class="view"><a href="http://127.0.0.1/wordpress/?attachment_id=6" title="View “mini”" rel="permalink">View</a></span></div>
                </td>
                <td class="author column-author"><a href="upload.php?author=1">Haris</a></td>
                <td class="parent column-parent">(Unattached)<br>
                    <a class="hide-if-no-js" onclick="findPosts.open( 'media[]','6' ); return false;" href="#the-list">Attach</a>
                </td>
                <td class="comments column-comments num">
                    <div class="post-com-count-wrapper">
                        <a href="http://127.0.0.1/wordpress/wp-admin/edit-comments.php?p=6" title="0 pending" class="post-com-count"><span class="comment-count">0</span></a>
                    </div>
                </td>
                <td class="date column-date">1 min ago</td>
            </tr>
            <tr id="post-5" class="author-self status-inherit">
                <th scope="row" class="check-column">
                    <label class="screen-reader-text" for="cb-select-5">Select IMG_3601</label>
                    <input type="checkbox" name="media[]" id="cb-select-5" value="5">
                </th>
                <td class="column-icon media-icon"><a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=5&amp;action=edit" title="Edit “IMG_3601”">
                    <img width="60" height="60" src="http://127.0.0.1/wordpress/wp-content/uploads/2014/05/IMG_3601-150x150.jpg" class="attachment-80x60" alt="IMG_3601">
                </a>

                </td>
                <td class="title column-title"><strong>
                    <a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=5&amp;action=edit" title="Edit “IMG_3601”">IMG_3601</a>
                </strong>
                    <p>
                        JPG		
                    </p>
                    <div class="row-actions"><span class="edit"><a href="http://127.0.0.1/wordpress/wp-admin/post.php?post=5&amp;action=edit">Edit</a> | </span><span class="delete"><a class="submitdelete" onclick="return showNotice.warn();" href="post.php?action=delete&amp;post=5&amp;_wpnonce=4b4c65dda0">Delete Permanently</a> | </span><span class="view"><a href="http://127.0.0.1/wordpress/?attachment_id=5" title="View “IMG_3601”" rel="permalink">View</a></span></div>
                </td>
                <td class="author column-author"><a href="upload.php?author=1">Haris</a></td>
                <td class="parent column-parent">(Unattached)<br>
                    <a class="hide-if-no-js" onclick="findPosts.open( 'media[]','5' ); return false;" href="#the-list">Attach</a>
                </td>
                <td class="comments column-comments num">
                    <div class="post-com-count-wrapper">
                        <a href="http://127.0.0.1/wordpress/wp-admin/edit-comments.php?p=5" title="0 pending" class="post-com-count"><span class="comment-count">0</span></a>
                    </div>
                </td>
                <td class="date column-date">1 min ago</td>
            </tr>
        </tbody>
    </table>
    <div class="tablenav bottom">

        <div class="alignleft actions bulkactions">
            <select name="action2">
                <option value="-1" selected="selected">Bulk Actions</option>
                <option value="delete">Delete Permanently</option>
            </select>
            <input type="submit" name="" id="doaction2" class="button action" value="Apply">
        </div>
        <div class="alignleft actions">
        </div>
        <div class="tablenav-pages one-page">
            <span class="displaying-num">2 items</span>
            <span class="pagination-links"><a class="first-page disabled" title="Go to the first page" href="http://127.0.0.1/wordpress/wp-admin/upload.php">«</a>
                <a class="prev-page disabled" title="Go to the previous page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">‹</a>
                <span class="paging-input">1 of <span class="total-pages">1</span></span>
                <a class="next-page disabled" title="Go to the next page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">›</a>
                <a class="last-page disabled" title="Go to the last page" href="http://127.0.0.1/wordpress/wp-admin/upload.php?paged=1">»</a></span>
        </div>
        <br class="clear">
    </div>

    <div id="ajax-response"></div>
    <div id="find-posts" class="find-box" style="display: none;">
        <div id="find-posts-head" class="find-box-head">
            Find Posts or Pages		
                <div id="find-posts-close"></div>
        </div>
        <div class="find-box-inside">
            <div class="find-box-search">
                <input type="hidden" name="affected" id="affected" value="">
                <input type="hidden" id="_ajax_nonce" name="_ajax_nonce" value="85adb97526">
                <label class="screen-reader-text" for="find-posts-input">Search</label>
                <input type="text" id="find-posts-input" name="ps" value="">
                <span class="spinner"></span>
                <input type="button" id="find-posts-search" value="Search" class="button">
                <div class="clear"></div>
            </div>
            <div id="find-posts-response"></div>
        </div>
        <div class="find-box-buttons">
            <input type="submit" name="find-posts-submit" id="find-posts-submit" class="button button-primary alignright" value="Select">
            <div class="clear"></div>
        </div>
    </div>

</form>
