<div class="row">

    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">

        <ul class="user-info pull-left pull-none-xsm">

            <!-- Profile Info -->
            <li class="profile-info dropdown">
                <!-- add class "pull-right" if you want to place this from right -->

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Content/admin/assets/images/mini1.png" alt="" class="img-circle" width="44" height="44" />
                    Haris Kljajic
                </a>

                <ul class="dropdown-menu">

                    <!-- Reverse Caret -->
                    <li class="caret"></li>

                    <!-- Profile sub-links -->
                    <li>
                        <a href="#">
                            <i class="entypo-user"></i>
                            Redigera profil
                        </a>
                    </li>

                </ul>
            </li>

        </ul>



    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">

        <ul class="list-inline links-list pull-right">


            <li>
                <a href="#"></a>
            </li>
           
            <li class="sep"></li>
            <li>
                <a href="http://localhost:5428/account/relogin/">
                    Logga ut <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>

    </div>

</div>
<hr />