
body {
	font-size:13px;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	margin:0;
	background-color: #fff;
	padding: 0px;
	line-height: 20px;
}

code {
    white-space: nowrap;
}
code {
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
    padding: 0 5px;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}
.clear {clear: both;}
h1,h2,h3,h4,h5,h6 {
	color:#4e4f4f;
	margin: 0px;
	padding: 0px;
	font-weight: 300;
	line-height: 32px;
}
h1 {
	font-size:30px;
}
h2 {
	font-size:25px;
}
h3 {
	font-size:18px;
	line-height:27px;
	font-weight: 400;
	text-transform: uppercase;
}
h4 {
	font-size:15px;
	line-height:21px;
}
p {
	margin-bottom: 15px;
}
a {
	color:#49E2D6;
	text-decoration: none;
	outline:none;
}
a:hover {
	color: #4297A6;
}
a.anchor {
	text-decoration: none;
	text-indent: -999px;
	display: block;
	height: 100px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container {
	width: 1130px;
	margin: 0 auto;
/*	background-color: #f8f8f8;*/
	color: #666666;
/*	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0 0 4px #dadada;
    -moz-box-shadow: 0 0 4px #dadada;
	box-shadow: 0 0 4px #dadada;*/
	margin-bottom: 35px;
/*	border: 1px solid #FFFFFF;*/
	padding: 30px 0;
}
.nav {
	float:left;
	width:100%;
	display: block;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.note {
	width: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: url(../images/note-bg.png) no-repeat 15px center #F0F9FF;
	border: 1px solid #CCF3FF;
	margin: 15px 0;
	overflow: hidden;
	padding: 20px;
	padding-left: 70px;
	color: #4297A6;
}
#intro-holder {
	width:100%;
	margin-top: 70px;
	background-color: #f9f9f9;
	padding: 25px 0;
}
.intro {
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	width: 1130px;
}
.intro .blurb {
	display:block;
	float:left;
	padding-left: 25px;
	padding-top: 25px;
}
#logo, #logo a {
	float: left;
}
#logo a {
	background: url(../images/logo.png) no-repeat scroll 0 0 transparent;
	height: 133px;
	width: 133px;
	text-indent: -9999px;
	-moz-transition: all 0.3s ease 0s;
}
#logo a:hover {
	background: url(../images/logo.png) no-repeat scroll 0 -133px transparent;
}
/***************************************************
			DROPDOWN MENU
***************************************************/
#primary-menu {
	z-index: 999;
	float: left;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #f5f5f5;
	height: 70px;
}
.menu, .menu * {
}
.menu {
	width: 1130px;
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
}
.menu ul {
	position: absolute;
	top: -999em;
	width: 190px; /* left offset of submenus need to match (see below) */
}
.menu ul li {
	width: 100%;
}
.menu li:hover, .menu li.current {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.menu li {
	float: left;
	position: relative;
	padding-bottom: 20px;
	display: inline;
}
.menu li a {
	display: block;
	position: relative;
	font-size: 11px;
	text-transform: uppercase;
	color: #AEAEAE;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 25px 29px 25px 0;
	float: left;
}
.menu li a.home {
	background: url(../images/home-bg.png) no-repeat left 25px;
	text-indent: -999px;
	height: 18px;
	width: 18px;
	padding-right: 20px;
}
.menu li a:last-child {
	border-right: none;
}
.menu li:hover a, .menu li.current a {	
	color: #444;
}
.menu li:hover ul {
	left: 0px;
	top: 68px; /* match top ul list item height */
	z-index: 9999;
	background: #444;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-moz-border-radius-bottomleft:2px; 
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
	margin: 0px;
	padding: 0px;
}
.menu li:hover ul li a {
	border-bottom: dotted 1px #555;
	padding-right: 0px;
	margin-right: 0px;
	font-weight: normal;
}	
.menu li:hover ul li {
	padding-bottom: 0px;
}
.menu li ul li a {
	font-size: 11px;
	text-transform: uppercase;
	padding: 12px 0;
	margin: 0 18px;
	width: 150px; /* match ul width */
	height: auto;
}
.menu li ul li a { color: #AEAEAE !important; }
.menu li ul li:hover a { color: #fff !important; }
/*--------------------------------------------------
			TOGGLE
---------------------------------------------------*/
.toggle-wrap {
	float: left;
	width: 100%;
	margin-bottom: 6px;
}
.trigger {
}
.trigger a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #676767;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}
.trigger a:before {
	content: "+";
	float: right;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
}
.trigger a:hover, .trigger.active a {
	color: #fff;
	background: #444;
	border: 1px solid #444;
}
.trigger.active a:before { 
	content: "-";
	font-size: 22px;
	line-height: 10px;
}
.toggle-container {
	overflow: hidden;
	float: left;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
}
/*--------------------------------------------------
			SCROLL TO TOP
---------------------------------------------------*/
#back-top {
    display: none;
}
#back-top {
	background: url(../images/sprite.png) no-repeat scroll 10px 0 #454545;    
    border-radius: 3px 3px 0 0;
    bottom: 0;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    width: 50px;
	text-indent: -9999px;
}
#back-top:hover {
	background-position: 10px -40px;  
	background-color: #feeb43;  
}