<style>
    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        margin: 20px 0;
    }

    .my-drop-zone {
        padding: 15px;
        border: 2px #f1f1f1 dashed;
        border-radius: 5px;
        line-height: 34px;
        box-sizing: border-box;
        display: block;
    }

    .ng-file-over {
        border: dotted 2px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 2px green;
    }

    html, body {
        height: 100%;
    }

    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }
</style>


<div class="col-md-3">


    <h3>Hantera bilder</h3>

    Alt. 1
    <div ng-show="uploader.isHTML5">
        <!-- Example: ng-file-drop | ng-file-drop="options" -->
        <div class="well my-drop-zone" ng-file-drop="{ url: '/foo' }" ng-file-over="another-file-over-class">
            Dra bildfilen hit för att lägga till i kö
        </div>
    </div>
    Alt. 2
    <!-- 2. ng-file-select | ng-file-select="options" -->
    <input ng-file-select type="file" multiple />

</div>

<div class="col-md-9" style="margin-bottom: 40px">
    <h3>Filkö</h3>
    <p>Filer i kö: {{ uploader.queue.length }}</p>

    <table class="table">
        <thead>
            <tr>
                <th width="50%">Namn</th>
                <th ng-show="uploader.isHTML5">Storlek</th>
                <th ng-show="uploader.isHTML5">Framsteg</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td>
                    <strong>{{ item.file.name }}</strong>
                    <!-- Image preview -->
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span>Ladda upp
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span>Avbryt
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span>Ta bort
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <p>
            Framsteg:
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </p>
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span>Ladda upp alla
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span>Avbryt alla
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span>Ta bort alla
        </button>
    </div>

</div>



<div class="col-md-12 col-md-10">
    <input type="text" ng-model="item.Header" value="{{item.Header}}" class="form-control" />
    <div>{{item.Picture}}</div>
    <div text-angular ng-model="item.News"></div>

    <input type="text" ng-model="item.Author" value="{{item.Author}}" class="form-control" />
    <input type="text" ng-model="item.NewsDate" value="{{item.NewsDate}}" class="form-control" />
</div>
<div class="col-md-2">
    <table class="table">
        <tbody>
            <tr ng-repeat="pic in item.Pictures">
                <td>
                    <strong>{{ pic.Name }}</strong>
                    <!-- Image preview -->
                    <img width="100%" src="../../images/blog/{{pic.Name}}" alt="{{pic.Name}}"/>

                </td>
            </tr>
        </tbody>
    </table>
</div>

