<table class="row">
    <tr>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>Content</b>
        </th>
        <th>
            <b>Author</b>
        </th>
        <th>
            <b>Media</b>
        </th>
        <th>
            <b>Date</b>
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="item in items.Posts">
        <td style="cursor:pointer;">
             <a ng-href="" ng-click="postClick(item.Id)">{{item.Title}}</a>
        </td>
        <td ng-bind-html="isTrusted(item.Content)"></td>
        <td>{{item.Author}}
        </td>
        <td>{{item.Picture}}
        </td>
        <td>{{item.Date}}
        </td>
    </tr>

</table>
